/* @font-face { */
/*     font-family: 'PetMe64'; */
/*     src: url('PetMe64.ttf'); */
/* } */

body {
    background: black;
    color: lightgrey;
    /* font-family: PetMe64; */
    font-family: monospace;
    font-weight: bold;
    font-size: 16pt;

    position: relative;

    max-width: 640;
    min-height: 560;
    max-height: 560;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32;
    margin-bottom: 32;
}

pre {
    /* transform:scale(1.25,1) translate(51px); /\* TODO: translate amount *\/ */
    max-width: 100%;
    font-size: 1.1em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2em;
    height: calc(7*1.2em);
}

#pic {
    width: 384px;
    height: 168px;
    user-drag: none;
    object-fit: cover;
    object-position: var(--pic-offset);
    --pic-idx: 1;
    --pic-idx-prev: 1;
    --pic-offset: 0px calc(-1 * (var(--pic-idx) - 1) * 168px);
    --pic-offset-prev: 0px calc(-1 * (var(--pic-idx-prev) - 1) * 168px);

    animation-duration: 0.25s;
    animation-name: fadeinout;
    animation-timing-function: ease-in-out;
}

.pic-trigger {
    animation: none !important;
}

@keyframes fadeinout {
    from {
        object-position: var(--pic-offset-prev);
        opacity: 100%;
    }

    49% {
        object-position: var(--pic-offset-prev);
        opacity: 0%;
    }

    51% {
        object-position: var(--pic-offset);
        opacity: 0%;
    }

    to {
        object-position: var(--pic-offset);
        opacity: 100%;
    }
}

#compass {
    float: right;
    position: relative;
    /* border: 3px solid red; */
    width: 168px;
    height: 168px;
   
}

#compass > span {
    position: absolute;
}

#compass span a {
    width: 1.4em;
    display: block;
    text-align: center;
}

#compass-n, #compass-s {
    left: 50%;
    transform: translateX(-50%);
}

#compass-w, #compass-e {
    top: 50%;
    transform: translateY(-50%);
}

#compass-n {
    top: 24;
}

#compass-s {
    bottom: 24;
}

#compass-w {
    left: 24;
}

#compass-e {
    right: 24;
}

#prompt {
    border-top: 3px solid #4040ff;
    border-bottom: 3px solid #4040ff;
    text-align: center;
    color: yellow;
}

a {
    text-decoration: none;
    color: lightgreen;
    display: block;
}

a:hover {
    background: darkgoldenrod;
}

label {
    cursor: pointer;
}

#inventory-div::before {
    content: "Tárgyaid:";
    display: block;
    column-span: all;
    top: 0;
    position: sticky;
    background: black;
}

#inventory-div {
    text-transform: uppercase;
    /* text-transform: capitalize; */
    outline: 3px solid #4040ff;

    /* border-bottom: 3px solid #4040ff; */
    /* margin-top: -30px; */
}

#inventory {
    column-count: 2;
}

#bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

* {
    /* outline: 1px solid red; */
}
